
/**
 * tab1
 */
.tab1 li
{
    list-style: none;
}
.tab1
{
    position: relative; width: 750px; padding-top: 29px;
}
.tab1 .yhd-switchable-nav
{
    position: absolute; z-index: 99; top: 31px; left: 20px; margin-top: -29px;
}
.tab1 .yhd-switchable-nav li
{
    line-height: 27px;

    float: left;

    width: 130px;
    height: 27px;
    margin-left: 5px;

    text-align: center;

    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e40011;
}
.tab1 .yhd-switchable-nav li.yhd-active
{
    color: #e40011;border: 1px solid #e40011; border-bottom: none;
    background: #fff;
}
.tab1 .yhd-switchable-content
{
    position: relative;

    height: 120px;
    padding: 20px;

    border: 1px solid #e40011;
}

/**
 * tab2
 */
.pasale
{
    height: 200px;
}
.pasale li
{
    float: left;

    list-style: none;
}
.pasale
{
    overflow: hidden;

    width: 850px;
    margin-top: 9px;
    margin-bottom: 13px;
}
.pasale .bbp-nav
{
    height: 25px;

    border-bottom: 3px solid #b30024;
    background: none repeat scroll 0 0 #fff;
}
.pasale .bbp-nav li
{
    font-size: 12px;

    position: relative;

    display: block;
    float: left;

    width: 181px;
    height: 24px;
    margin-bottom: -3px;
    margin-left: 6px;

    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #e3e3e3 #e3e3e3;
}
.pasale .bbp-nav li.first
{
    margin-left: 1px;
}
.pasale .bbp-nav li span
{
    position: absolute;
    top: -8px;
    right: 15px;

    display: block;
    overflow: hidden;

    width: 24px;
    height: 18px;

    text-indent: -999px;
}
.pasale .bbp-nav li a
{
    display: block;
    float: none;

    padding: 4px 0 8px;

    text-align: center;
    text-decoration: none;
}
.pasale .bbp-nav li.selected
{
    line-height: 28px;

    top: -3px;

    height: 28px;

    border: medium none;
}
.pasale .bbp-nav li.selected a
{
    font-size: 14px;
    font-weight: bold;

    position: relative;
    bottom: 0;

    padding: 0;

    color: #fff;
    outline: medium none;
    background: none repeat scroll 0 0 transparent;
}
.pasale .bbp-content
{
    padding: 5px 2px 2px;

    border: 1px solid #e7e7e7;
}
.pasale .bbp-content ul
{
    margin: 3px 0;
}
.pasale .bbp-content li
{
    position: relative;

    width: 123px;
    height: 141px;
    padding: 0;

    text-align: center;

    border-right: 1px dotted #cecece;
}
.pasale .bbp-content li span,
.pasale .bbp-content li em
{
    font-size: 12px;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 46px;
    height: 40px;

    text-align: center;

    color: #fff600;
}
.pasale .bbp-content li img
{
    display: block;

    margin: 0 auto 3px;

    text-align: center;

    border: none;
}
.pasale .bbp-content li a
{
    font-size: 12px;
}
.pasale .bbp-content li strong
{
    color: #f30;
}


/**
 * accordion1
 */

.accordion1
{
    overflow: hidden;

    width: 416px;
    height: 260px;

    border: 1px solid #ccc;
}

.accordion1 .yhd-switchable-trigger
{
    float: left;
    overflow: hidden;

    width: 18px;
    height: 260px;
    padding: 3px 10px;

    cursor: pointer;

    border-right: 1px solid #ddd;
    background: #e40011;
}
.accordion1 .yhd-switchable-trigger h3
{
    float: left;

    width: 18px;
    margin-left: 0;

    color: #fff;
}
.accordion1 .yhd-switchable-panel
{
    float: left;

    width: 260px;
    height: 260px;
    padding: 0;

    border-right: 1px solid #ddd;
}
.accordion1 .yhd-switchable-panel img
{
    margin: 20px;
}
.accordion1 .yhd-icon
{
    font-size: 0;

    float: left;
    overflow: hidden;

    width: 12px;
    height: 12px;
    margin-top: 2px;

    vertical-align: middle;

    background: url(../images/icon-trigger.png) no-repeat 0 0;
}
.accordion1 .yhd-active .yhd-icon
{
    background-position: -20px 0;
}
.accordion1 .last-trigger
{
    border-right-width: 0;
}
.accordion1 .yhd-active
{
    border-right-width: 1px;
}
.accordion1 .last-panel
{
    border-right: none;
}
/**
 * accotdion2
 */

.accordion2
{
    width: 260px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
}

.accordion2 .yhd-switchable-trigger
{
    overflow: hidden;

    height: 18px;
    padding: 3px 10px;

    cursor: pointer;

    border-bottom: 1px solid #ddd;
    background: #e40011;
}

.accordion2 .yhd-switchable-trigger h3
{
    float: left;

    width: 100px;
    margin-left: 5px;

    color: #fff;
}

.accordion2 .yhd-switchable-panel
{
    height: 260px;
    padding: 0;

    border-bottom: 1px solid #ddd;
}

.accordion2 .yhd-icon
{
    font-size: 0;

    float: left;
    overflow: hidden;

    width: 12px;
    height: 12px;
    margin-top: 2px;

    vertical-align: middle;

    background: url(../images/icon-trigger.png) no-repeat 0 0;
}

.accordion2 .yhd-active .yhd-icon
{
    background-position: -20px 0;
}

.accordion2 .last-trigger
{
    border-bottom-width: 0;
}

.accordion2 .yhd-active
{
    border-bottom-width: 1px;
}

.accordion2 .last-panel
{
    border-bottom: none;
}

.accordion2 .yhd-switchable-panel img
{
    margin: 20px;
}

/**
  * carourse1
  */

.content
{
    width: 680px;

    border: solid 1px;
}


.mall-slide .yhd-switchable-nav
{
    overflow: hidden;

    width: 460px;
    margin-top: 140px;
}
.mall-slide .yhd-switchable-nav li
{
    float: left;
    overflow: hidden;

    width: 130px;
    height: 50px;
    margin-right: 15px;

    cursor: pointer;

    border: solid 1px #fff;
}
.mall-slide .yhd-switchable-nav li.yhd-active
{
    border: solid 1px red;
}



.mall-slide .yhd-switchable-nav li img
{
    width: 150px;
    height: 50px;
}
.mall-slide
{
    position: relative;

    width: 510px;
    height: 200px;

    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #e5e5e5 !important;
    border-left: 1px solid #d8d8d8;
}
.mall-slide .mall-prev
{
    position: absolute;
    top: 50px;
    left: 0;

    display: block;

    width: 34px;
    height: 34px;

    background: url('../images/icon-arrows.png') 0 -34px no-repeat scroll transparent;
}
.mall-slide .mall-next
{
    position: absolute;
    top: 50px;
    right: 0;

    display: block;

    width: 34px;
    height: 34px;

    background: url('../images/icon-arrows.png') -34px -34px no-repeat scroll transparent;
}
.mall-slide .mall-prev:hover
{
    background-position: 0 0;
}
.mall-slide .mall-next:hover
{
    background-position: -34px 0;
}
.mall-slide .mall-content
{
    position: absolute;
    left: 35px;

    overflow: hidden;

    width: 439px;
    height: 200px;

    background: -moz-linear-gradient(center top , #ececec, #fff) repeat scroll 0 0 transparent;
}
.mall-slide li.big-piclist
{
    display: block;
    float: left;
    overflow: hidden;

    width: 440px;
    height: 137px;
}
.mall-slide .big-piclist a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 109px;
    height: 137px;
    margin-right: 1px;
}

.mall-slide .big-piclist a.last
{
    width: 110px;
    margin-right: 0;
}
.mall-slide .sm-piclist
{
    margin-top: 0;
    margin-left: -1px;
}
.bt-none
{
    border-top: 0 none !important;
}
.bl-none
{
    border-left: 0 none !important;
}
.mall-slide .sm-piclist a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 87px;
    height: 44px;
    padding-top: 1px;

    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background-color: white;
}

.mall-slide .sm-piclist a:hover
{
    height: 42px;

    border-bottom: 2px solid #b81426;
}
.tb-slide
{
    border: 1px solid #d8d8d8;
}
.tb-slide,
.tb-slide li
{
    font-size: 0;

    overflow: hidden;

    width: 490px;
    height: 170px;
}

.tb-slide-triggers
{
    position: absolute;
    z-index: 10;
    right: 5px;
    bottom: 5px;

    height: 18px;
    padding-top: 2px;
}
.tb-slide-triggers li
{
    font-size: 13px;
    line-height: 20px;

    position: relative;

    float: left;
    overflow: visible;

    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: 3px;

    cursor: pointer;
    text-align: center;

    opacity: .7;
    color: #de7d4b;
    -moz-border-radius: 20px 20px 20px 20px;
    background-color: #fff;
}
.tb-slide-triggers li.yhd-active
{
    font-weight: bold;

    opacity: 1;
    color: #fff;
    background-color: #f60;

    filter: none;
}

/**
  * carousel2
  */


.scrollable
{
    position: relative;

    width: 820px;
}
.scrollable .prev,
.scrollable .next
{
    position: absolute;
    top: 50px;

    cursor: pointer;

    color: #666;
}
.scrollable .prev
{
    left: 10px;
}
.scrollable .next
{
    right: 10px;
}
.scrollable .disable
{
    cursor: default;

    color: #ddd;
}

.scrollable .yhd-switchable-nav
{
    position: absolute;
    top: -10px;
    right: 30px;
}
.scrollable .yhd-switchable-nav li
{
    font-size: 18px;

    float: left;

    padding: 5px;

    cursor: pointer;
}
.scrollable .yhd-switchable-nav li.yhd-active
{
    color: #d22929;
}

.scroller
{
    position: relative;

    overflow: hidden;

    width: 680px;
    height: 120px;
    margin: auto;

    border: 1px solid #ccc;
}
.scroller .yhd-switchable-content img
{
    display: inline !important;
    float: left;

    width: 100px;
    height: 75px;
    margin: 20px 15px;
    padding: 2px;

    border: 1px solid #ccc;
    background-color: #fff;
}
/**
	 * slide1
	 */
.slide1
{
    position: relative; overflow: hidden; width: 470px; height: 150px; border: 1px solid #b6d1e6;
}
.slide1 .yhd-switchable-nav
{
    position: absolute; z-index: 99; right: 5px; bottom: 5px;
}
.slide1 .yhd-switchable-nav li
{
    line-height: 16px;

    float: left;

    width: 16px;
    height: 16px;
    margin-left: 10px;

    cursor: pointer;
    text-align: center;

    color: #d94b01;
    color: #fff;
    border-radius: 100%;
    background-color: #666;
}
.slide1 .yhd-switchable-nav li.yhd-active
{
    line-height: 18px;

    width: 18px;
    height: 18px;
    margin-top: -1px;

    color: #fff;
    background-color: #e60021;
}
.slide1 .yhd-switchable-content li
{
    overflow: hidden; width: 470px;
    height: 150px;
}
/* for countdown plugin */
.slide1 .yhd-switchable-nav li,
.slide1 .yhd-switchable-trigger-content
{
    position: relative;
}
.slide1 .yhd-switchable-trigger-mask
{
    position: absolute;
    right: 0;

    visibility: hidden;

    width: 18px;
    height: 18px;

    background-color: #ff9415;
}
.slide1 .yhd-active .yhd-switchable-trigger-mask
{
    visibility: visible;
}

/**
	 * slide2
	 */
.slide2
{
    position: relative;

    overflow: hidden;

    width: 515px;
    height: 220px;
    padding: 1px;

    border: 1px solid #d3d2d2;
}
.slide2 .yslider-stick
{
    font-size: 14px;

    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;

    width: 106px;
    margin: 1px;

    background: #fff;
}
.slide2 .yslider-stick li
{
    border-bottom: 1px solid #ededed;
}
.slide2 .yslider-stick li a
{
    display: block;

    padding: 8px 5px;

    text-indent: 15px;

    color: #666;
}
.slide2 .yslider-stick li.selected
{
    background-color: #c8282b;
}
.slide2 .yslider-stick li.selected a
{
    color: #fff;
    border-left: 3px solid #b30024;
}
.slide2 .yslider-stage
{
    width: 405px;
    height: 220px;
}
/**
	 * slide3
	 */
.scroll-news
{
    overflow: hidden;

    height: 20px;
}
.scroll-news a
{
    color: #ff7e00;
}

.tp04
{
    position: relative;

    overflow: hidden;

    width: 950px;
    height: 400px;

    background: none repeat scroll 0 0 transparent;
}
.tp04 .yslider-stick
{
    line-height: 39px;

    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;

    width: 960px;
    height: 39px;

    background: #333;
}
.tp04 .yslider-stick li
{
    float: left;
    overflow: hidden;

    width: 190px;

    cursor: pointer;
}
.tp04 .yslider-stick li a
{
    font-weight: 300;

    display: block;

    padding: 0;

    text-align: center;
    text-decoration: none;
    text-indent: 0;

    color: #fff;
}
.tp04 .yslider-stick li:hover
{
    color: #fff;
    background: none repeat scroll 0 0 #2e2e2e;
}
.tp04 .yslider-stick li.yhd-active
{
    background: none repeat scroll 0 0 #df0000;
}
.tp04 .yslider-stick li.yhd-active a
{
    font-weight: 600;

    display: block;

    color: #fff;
    background: none repeat scroll 0 0 #df0000;
}
.tp04 .yslider-stage
{
    width: 950px;
    height: 310px;
}
.tp04 .yhd-switchable-content
{
    width: 946px;
    height: 396px;
    padding: 0;

    background: none repeat scroll 0 0 #fff;
}
.tp04 .yhd-switchable-content:hover
{
    width: 950px;
    height: 400px;

    background: none repeat scroll 0 0 #fff;
}
